dist/
target/
project/target
.idea/
logs/
src/main/scala/worksheets/
*.iml
native/

hs_err_*.log

*~
\#*\#
.\#*
flycheck_*.*
docs/*.org
docs/*.rest
.projectile
.dir-locals.el
local.sbt
ensime.sbt
.ensime
.ensime_cache/
.env
